<a href="https://colab.research.google.com/github/mrpedro567/level-prediction/blob/master/DnD_Monster_prediction_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Regression model for prediction Challenge Level for a monster.

Import data from excel using pandas. 
On this data set, the relevant data is on sheet named 'Monsters'

In [89]:
import pandas as pd
import numpy as np

mon_data = pd.read_excel('5e_index.xlsx', sheet_name='Monsters', usecols='C,G,H,N:T', header=0)

mon_data.head(10)

  Size  AC      Hit Points  STR  DEX  CON  INT  WIS  CHA Challenge
0    L  15  110 (13d10+39)   10   20   16    8   15   17         4
1    S  16    97 (13d6+52)    8   18   19   17   11   16         6
2    M  18   170 (20d8+80)   20   15   19   15   10   16        10
3    M  18   127 (17d8+51)   17   17   16   13    8   14         9
4    L  16  127 (15d10+45)   18   15   16   11    8   12         8
5    L  18  180 (19d10+76)   10   14   18   17   15   17        13
6    L  16  161 (17d10+68)   18   14   18   10   12   10        10
7    M  15     67 (9d8+27)   10   14   16   15   15   13         6
8    T  13      13 (3d4+6)    3   17   14    3   10    7       0.5
9    L  15   75 (10d10+20)   10   14   14   15   15   10         5

In [90]:
mon_data = pd.get_dummies(mon_data, columns=["Hit Points", "Size"])
mon_data.describe

<bound method NDFrame.describe of       AC  STR  DEX  CON  INT  ...  Size_L  Size_M Size_S  Size_T  Size_l
0     15   10   20   16    8  ...       1       0      0       0       0
1     16    8   18   19   17  ...       0       0      1       0       0
2     18   20   15   19   15  ...       0       1      0       0       0
3     18   17   17   16   13  ...       0       1      0       0       0
4     16   18   15   16   11  ...       1       0      0       0       0
...   ..  ...  ...  ...  ...  ...     ...     ...    ...     ...     ...
1104  14   15   14   16   10  ...       0       1      0       0       0
1105  19    1   28   10   13  ...       0       0      0       1       0
1106  12   10   14   16   11  ...       0       1      0       0       0
1107  13    6   16   16   12  ...       0       1      0       0       0
1108   8   13    6   16    3  ...       0       1      0       0       0

[1109 rows x 420 columns]>

In [77]:
labels = np.array(mon_data['Challenge'])

# Saving feature names for later use
feature_list = list(mon_data.columns)

# Remove the labels from the features
# axis 1 refers to the columns
features = mon_data.drop('Challenge', axis = 1)

# Convert to numpy array
features = np.array(features)

In [78]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (831, 419)
Training Labels Shape: (831,)
Testing Features Shape: (278, 419)
Testing Labels Shape: (278,)

Criação do Baseline para avaliar o modelo.

In [79]:
# TODO -> FIX BASELINE
# The baseline predictions are the Challenge Ratings
baseline_preds = test_features[:, feature_list.index('Challenge')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  5.68

In [80]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

ValueError: ignored