<a href="https://colab.research.google.com/github/mrpedro567/level-prediction/blob/master/DnD_Monster_prediction_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Regression model for prediction Challenge Level for a monster.

Import data from excel using pandas. 
On this data set, the relevant data is on sheet named 'Monsters'

In [10]:
import pandas as pd

mon_data = pd.read_excel('5e_index.xlsx', sheet_name='Monsters', usecols='C,G,H,N:T', header=0)

mon_data.head(5)

  Size  AC      Hit Points  STR  DEX  CON  INT  WIS  CHA Challenge
0    L  15  110 (13d10+39)   10   20   16    8   15   17         4
1    S  16    97 (13d6+52)    8   18   19   17   11   16         6
2    M  18   170 (20d8+80)   20   15   19   15   10   16        10
3    M  18   127 (17d8+51)   17   17   16   13    8   14         9
4    L  16  127 (15d10+45)   18   15   16   11    8   12         8